package $package;

#if($baseClass)import $baseClassPackage.$baseClass;
#end
import ${entityPackage}.${entityName};

/**
* @author xiaohe
* @since $time
*/
public interface ${entityName}Mapper #if($baseClass)extends $baseClass<${entityName}> #end{

}
